// Global chopstick settings: open and tweak this file.

	@import "../../_chopstick/scss/settings";

// Chopstick mixins

	@import "../../_chopstick/scss/shared/functions";
	@import "../../_chopstick/scss/shared/mixins";
	@import "../../_chopstick/scss/shared/grid";
	@import "../../_chopstick/scss/shared/typography";
	@import "../../_chopstick/scss/shared/ui";

// Snippet styles
.media {
	@extend %clearfix;

	margin-bottom: 2em;

	&:last-child {
		margin-bottom: 0;
	}

	.media__img,
	.media__img--rev {
		margin-bottom: 1em;
	}
}

.media--block {
	@include box-(12,0,0);

	@include mq($bp2) {
		@include box-(12,1,1);
	}

	@include mq($bp3) {
		@include box-(4,1,1);
	}
}

.media--list {
	.media__img,
	.media__img--rev,
	.media__body {
		@include box-(12,0,0);
	}

	.media__img {
		@include mq($bp2) {
			@include box-(6,1,2);
		}

		@include mq($bp4) {
			@include box-(4,1,2);
		}
	}

	.media__img--rev {
		@include mq($bp2) {
			@include box-(6,2,1);
		}

		@include mq($bp4) {
			@include box-(4,2,1);
		}
	}

	.media__body {
		@include mq($bp2) {
			@include box-(6,1,1);
		}

		@include mq($bp4) {
			@include box-(8,1,1);
		}
	}
}

.mask {
	position: relative;
	overflow: hidden;
	background-color: $gamma-ui-color;
}

.mask img {
	position: absolute;
	top: 0;
	width: 100%;
}


// Ratio
.ratio--four-three {
	padding-top: 75%; // 3/4 * 100
}

.ratio--sixteen-nine {
	padding-top: 56.25%; // 9/16 * 100
}

.ratio--square {
	padding-top: 95%; // 1/1 * 100 (-5 for optical correction)
}
